
  <ul class="nav justify-content-center">
      <li class="nav-item">
          <a class="nav-link active" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/emp">Employee</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" routerLink="/department">Department</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/hook">Hook</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" routerLink="/pipesamples">Pipesamples</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" [routerLink]="['routesample','100','1']">RouteSample</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" routerLink="/admin">Admin</a>
    </li>
  </ul>

  

  
